<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197105291532-bmnisi0eb40v999kibfjt0dvibre7g3b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197105291532-bmnisi0eb40v999kibfjt0dvibre7g3b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>197105291532-7e8j7pfc575dig67dgkl0ot3pqfgksur.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCCwmMXO_uIBqP4M2dnNOjptfyqcWiY8zo</string>
	<key>GCM_SENDER_ID</key>
	<string>197105291532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tbrgroup.mint.dev</string>
	<key>PROJECT_ID</key>
	<string>mint-development-b5d54</string>
	<key>STORAGE_BUCKET</key>
	<string>mint-development-b5d54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197105291532:ios:9d9a9ab983774f3b9ff929</string>
	<key>DATABASE_URL</key>
	<string>https://mint-development-b5d54-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>